@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');


html, body {
    font-family: 'Inconsolata', monospace;
    font-size: 15px;

    background: #999;
    padding: 0;
    margin: 0;
    margin-left:auto;
    margin-right:auto;
    text-align: center; 
}

h1 {
    font-size: 30px; 
    padding-bottom: 10px;
    padding-top: 10px;
}

h2 {
    font-size: 20px; 
    padding-bottom: 10px;
    padding-top: 10px;
}

p {
    padding-bottom: 5px;
}

.main {
    width: 98%;
    max-width: 2048px;
    margin-left:auto;
    margin-right:auto;
    background: #FFF;
}

article {}

.main_image {      
    text-align: center; 
    padding: 1%;
    background: #FFF;
}

.main_image img {
    object-fit: contain;
    width: 100%;
    height: auto;
    max-height: 95vh;
    max-width: 98vw; 
}


/* Style the navigation menu */
.navbar {
  width: 100%;
  background-color: #DDD;
  overflow: auto;
}

/* Navigation links */
.navbar a {
  float: left;
  padding: 12px;
  color: black;
  text-decoration: none;
  font-size: 18px;
  width: 21%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar a:hover {
  background-color: #000;
  color: white;
}

/* Style the current/active link */
.navbar a.active {
  background-color: #4CAF50;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}

.entry-title, .entry-content, .post-info {
    padding: 10px;
}

.content, .content-thumbs, .extras {
    max-width: 1224px;
    width: 100%;
    overflow: auto;
    margin: auto;
    text-align: left; 
}

.content .entry-title{
    text-align: left;
}

.content .entry-content, .content .post-info {
    margin: auto;
    width: 46%;
}

.content .entry-content{
    float: left;
    text-align: left;  
}

.content .post-info{
    float: right;
    text-align: right;
}

.content-thumbs {
    padding: 1%;
}

@media screen and (max-width: 500px) {
    .content .entry-content{
        float: none;
        display: block;
        width: 100%;
        text-align: left; 
    }

    .content .post-info{
        float: none;
        display: block;
        width: 100%;
        text-align: left; 
    }
}

.extras {
    max-width: 800px;
    width: 80%;
}

.extras .block{
    float: left;
    width: 33.33%;
    max-width: 500px;
    text-align: center;
    margin: auto;
}

@media screen and (max-width: 500px) {
    .extras .block{
        float: none;
        display: block;
        width: 100%;
        text-align: left; 
    }
}

.credit {
    padding: 10px;
}



ul.tagcloud {
  list-style: none;
    padding: 0;
}

ul.tagcloud li {
    display: inline-block;
}

li.tag-1 {
    font-size: 150%;
}

li.tag-2 {
    font-size: 120%;
}

/* ... add li.tag-3 etc, as much as needed */

ul.tagcloud .list-group-item span.badge {
    background-color: grey;
    color: white;
}