{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title|striptags  }}{% endblock %}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(article) %}
    {{ translations.entry_hreflang(article) }}
  {% endif %}

  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

  {% if article.image %}  
  <meta property="og:title" content="{{ article.title|striptags  }}" />
  <meta property="og:image" content="{{ SITEURL }}{{ article.image }}" />
  {% endif %}

{% endblock %}

{% block content %}
<section id="content" class="body">
  <article>

    {% if article.image %}  
    <section class="main_image">
      <div itemscope itemtype="http://schema.org/ImageObject">
        {% if article.prev_article %}
        <a href="{{ SITEURL }}/{{ article.prev_article.url}}">
        {% endif %}

        <picture>
          <source class="original-image"
            srcset="{{ article.image }} {{ article.imagewidth }}w"
            sizes="98vw"
            media="(min-width: 2048px)">
            
          <img class="image-process-article-pict" src="{{ article.image }}"
               alt="{{ article.title|striptags }}" />
        </picture>

        {% if article.prev_article %}
        </a>
        {% endif %}

        <!-- https://schema.org/ImageObject -->
        <meta itemprop="contentUrl" content="{{ article.image }}"/>
        <meta itemprop="caption" content="{{ article.title|striptags }}"/>
        <meta itemprop="dateCreated" content="{{ article.datecreated }}"/>
        <meta itemprop="datePublished" content="{{ article.locale_date }}"/>

        {% if article.location %}
        <meta itemprop="contentLocation" content="{{ article.location }}"/>       
        {% endif %}  

        {% for author in article.authors %}
        <meta itemprop="author" content="{{ author }}" />
        {% endfor %}
      </div>
      
      {% if article.gpslatitude %}
        <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
            <meta itemprop="latitude" content="{{ article.gpslatitude }}" />
            <meta itemprop="longitude" content="{{ article.gpslongitude }}" />
        </div>
      {% endif %}      
    </section>  
    {% endif %}

    <nav id="article-navigation" class="navbar">
      {% if article.prev_article %}
      <a href="{{ SITEURL }}/{{ article.prev_article.url}}" ><i class="fas fa-chevron-left"></i></a>
      {% endif %}

      <a href="{{ SITEURL }}/"><i class="fas fa-home"></i></a>
      <a href="{{ SITEURL }}/{{ ARCHIVES_SAVE_AS | default('archives.html') }}"><i class="fas fa-archive"></i></a>
         
      {% if article.next_article %}
      <a href="{{ SITEURL }}/{{ article.next_article.url}}"><i class="fas fa-chevron-right"></i></a>
      {% endif %}
    </nav>

    <div class="content">
      <header>
       <h2 class="entry-title">
         <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
            title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
        {% import 'translations.html' as translations with context %}
        {{ translations.translations_for(article) }}
      </header>  

      

      <div class="entry-content">
        {{ article.content }}
      </div><!-- /.entry-content -->


      <footer class="post-info">
        <time class="published" datetime="{{ article.date.isoformat() }}">
          Published: {{ article.locale_date }}
        </time>
        {% if article.modified %}
        <time class="modified" datetime="{{ article.modified.isoformat() }}">
          Modified: {{ article.locale_modified }}
        </time>
        {% endif %}
        {% if article.authors %}
        <address class="vcard author">
          By {% for author in article.authors %}
              <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
            {% endfor %}
        </address>
        {% endif %}
        {% if article.category %}
        <div class="category">
            Category: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
        </div>
        {% endif %}
        {% if article.tags %}
        <div class="tags">
            Tags:
            {% for tag in article.tags %}
                <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
            {% endfor %}
        </div>
        {% endif %}
      </footer><!-- /.post-info -->
    </div>
  </article>
</section>
{% endblock %}
