{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ period | reverse | join(' ') }} archives{% endblock %}

{% block content %}
<h1>Archives for {{ period | reverse | join(' ') }}</h1>

<section id="content" class="content-thumbs">
{% block content_title %}{% endblock %}
{% for article in dates %}
    <a href="{{ SITEURL }}/{{ article.url }}">
    	<img alt="{{ article.title|striptags }}, {{ article.locale_date }}" src="{{ article.image }}" class="image-process-thumb-square lazyload" />
    </a>
{% endfor %}
</section>

{% endblock %}
